
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1.2rem 0rem;
    background-color: white;
}


/* First Div */
.logo-name{
    color: #CF2D2D;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.location-icon{
    color: #B0BABF;
}




/* Second Div */

.search-btn-container{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.categories-btn{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: 0.4rem;
    border-radius: 5px;
    margin-right: .5rem;
    font-size: .9rem;
}

.input-container{
    position: relative;
    width: 100%;
}
.input-container > input{
    padding: .4rem;
    border: #B0BABF solid 1px;
    border-radius: 5px;
    width: 100%;
}

.search-icon{
    position: absolute;
    right: 10px;
    top: 8px;
    color: #B0BABF;
}

.options{
    display: flex;
    gap: 2rem;
    padding: 0rem 2rem;
    font-size: small;
    cursor: pointer;
}




/* Third Div */

.logo--btns{
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: small;
}

.fav-btn{
    display: flex;
    gap: .4rem;
    cursor: pointer;
}

.sign-btn{
    border: #B0BABF 1px solid;
    border-radius: 5px;
    padding: .6rem;
    cursor: pointer;
}
.heart-icon{
    color: #B0BABF;
    
}
.user-icon{
    color: #B0BABF;
    font-size: larger;
}
.mobile-search-btn{
    color: #B0BABF;
    font-size: larger;
}


/* Responsive code */
@media screen and (max-width: 768px) {
    .nav-container{
        align-items: center;
    }
    .btw-container {
        display: none;
    }
    .logo-name{
        margin-bottom: 0px;
    }
    .sign-btn{
        display: none;
    }
    .heart-icon{
        font-size: larger;
    }

}
@media screen and (max-width: 880px) {
    .fav-text{
        display: none;
    }
    .sign-btn{
        display: none;
    }
    .nav-container{
        align-items: start;
    }

}
@media screen and (min-width: 880px) {
    .user-icon{
        display: none;
    }
}
/* 768 se jyada me kay kare */
@media screen and (min-width: 768px) {
    .mobile-search-btn{
        display: none;
    }
}


